@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.board {
  background: black;
  color: white;
  text-align: center;
  padding: 2rem;
  font-family: Montserrat;
  font-weight: 700;
}

.board div {
  font-size: 1.3rem;
  margin: 1rem;
}

.container {
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
}
